# Use the C++ standard
Language: Cpp
Standard: Cpp11

# Indentation settings
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Alignments
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: false

# Spaces
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false

# Line breaks
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true

# Pointer and reference alignment
PointerAlignment: Left

# Include sorting
SortIncludes: true
IncludeBlocks: Preserve

# Namespace indentation
NamespaceIndentation: None

# Cpp11 Settings
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false

# Other settings
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
ColumnLimit: 0
DerivePointerAlignment: false
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: OuterScope
MaxEmptyLinesToKeep: 1
ReflowComments: true
SortUsingDeclarations: true
